body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #2c83db;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #333;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}
nav ul li a:hover {
    background-color: #575757;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
img{
    width: 300px;
    height: 300px;
}
form {
    min-width: 600px;
    margin: 0 auto;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}
form div {
    margin-bottom: 15px;
}
form label {
    display: block;
    margin-bottom: 5px;
}
#nome,
#email,
#senha,
form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#btnEnviar,
#btnDica{
    background-color: #25afe1;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer a:hover{
    color:#2c83db;
}

.slideshow {
    position: relative;
    display: flex;
    align-items: center;
}
.organizando{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mySlides {
    display: none;
}

img { 
    vertical-align: middle; 
}


